.container {
  /* background-color: pink; */
  text-align: center;
  width: 70vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border-style: solid; */
}

.leader {
  width: 49%;
  height: 50vh;
  border-style: solid;
  /* background-color: red; */
  float: left;
}

.users {
  width: 49%;
  height: 50vh;
  border-style: solid;
  /* background: blue; */
  float: right;
}
