.waitingRoom {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.waitingRoom__content {
  width: 70vw;
  flex-direction: row;
  display: flex;
}

.waitingRoom__paper {
  margin: 10px;
  padding: 10px;
}

.leader {
  width: 50%;
  height: 50vh;
}

.users {
  width: 50%;
  height: 50vh;
  text-align: center;
}
